.btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(47, 106, 138);
}

.btn {
  margin-top: 15px;
  background-color: #48abe0;
  transition: 0.3s;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
}
